body {
background-image: url(images/pattern-background-desktop.svg);
background-color: hsl(225, 100%, 94%);
background-repeat: no-repeat;
}

/* Order Summary Card  */
h1 {
  font-family: Red Hat Display;
  font-weight:900;
  font-size:1.5rem;
  margin:6%;

}

h2 {
    font-family: Red Hat Display;
    font-weight:700;
    font-size:1rem;

}
p {
  font-family: Red Hat Display;
  font-weight:500;
}
#card-body-text {
  font-family: Red Hat Display;
  font-weight:500;
  margin: 8%;
  line-height: 1.5rem;
  color: hsl(224, 23%, 55%);
}
#order-summary {
  text-align: center;
  justify-content: center;

}
.card {
  width: 30%;
  margin: auto;
  margin-top: 5%;
  display:flex;
  justify-content: center;
  border-radius:7%;
}

/* Mobile design */
@media (max-width: 600px) {
  .card {
    width:90%;
  }
}


.card-img {
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
}

.row {
  background-color: hsl(225, 100%, 98%);
  border-radius: 8%;
  padding:5% 2%;
  width:90%;
  margin:auto;
  margin-bottom: 7%;
}

.col-6 {
  text-align: left;
}
.col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-link {
  color: #4c15d6;
  font-family: Red Hat Display;
  font-size: 1rem;
}

.change-link:hover {
  text-decoration:none;
  color:#7f54eb;
}
/*
Button Styling */
.btn {
  width:83%;
  background-color: hsl(245, 75%, 52%);
  font-family: Red Hat Display;
  font-size:1rem;
box-shadow :0px 15px 2px 8px hsl(225, 100%, 98%);
}
/* Active State  */
.btn:hover {
  background-color: #6936eb;
}

.cancel-link {
  color:  #4e4e8a;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 1rem;
  padding: 5% 5% 10%;
  text-decoration: none;
}

.cancel-link:hover {
  color: black;
}

.attribution {
  margin-top:5%;
}
